:root {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.grid {
  display: grid;
  max-width: 1216px;
  grid-gap: 20px;
}

.grid-item {
  padding: 20px 20px;
  background: rgb(222, 72, 3);
}

section {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #333;
}

pre {
  display: inline-block;
  padding: 20px;
  background: black;
  color: white;
}
