:root {
  font-family: HelveticaNeue, Helvetica Neue, Helvetica, Arial, Lucida Grande,
    sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

main {
  display: grid;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

header {
  background: rgb(222, 72, 3);
  padding: 10px 20px;
  color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 0;
}

.grid {
  display: grid;
  grid-gap: 10px;
}

.grid-item {
  padding: 10px;
  background: #707070;
  color: #fff;
}

section {
  margin-bottom: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #333;
  max-width: 85vw;
}

pre {
  display: inline-block;
  padding: 20px;
  background: black;
  color: white;
}
